EXPO_PUBLIC_APP_NAME=Hydra
EXPO_PUBLIC_APP_SLUG=hydra
EXPO_PUBLIC_APP_VERSION=1.0.0
EXPO_PUBLIC_APP_SCHEME=hydra
EXPO_PUBLIC_SPLASH_BACKGROUND_COLOR=#dff8ff
EXPO_PUBLIC_ANDROID_ICON_BACKGROUND_COLOR=#0b5fff
EXPO_PUBLIC_IOS_SUPPORTS_TABLET=true